{% extends 'basic.html' %}
{% block title %}contact
{% endblock title %}
{% block body %}
<h1 class="text-center text-success">Contact</h1>

<div class="d2" >    
    <fieldset class="f1">
        <legend class="font-effect-neon text-center">CONTACT DETAILS</legend>
        <div id="id1"><i id="id2" class="fas fa-map-marker-alt fa-2x" style="color: red;"></i>
            <div class="com_div"> Jamnagar, GUJARAT.</div>
        </div>
        <div id="id1"><i id="id2" class="fas fa-envelope fa-2x" style="color: white;"></i>
            <div class="com_div"> kanzariyasandip300@gmail.com</div>
        </div>
        <div id="id1"><i id="id2" class="fas fa-clock fa-2x" style="color: silver;"></i>
            <div class="com_div"> 10 AM - 5 PM</div>
        </div>
        <div id="id1"><i id="id2" class="fab fa-linkedin fa-2x" style="color: blue;"></i>
            <a href="https://www.linkedin.com/in/sandip-kanzariya-8416b523a/" target="_blank" class="com_div">Sandip Kanzariya</a>
        </div>
        <div id="id1"><i id="id2" class="fab fa-twitter fa-2x" style="color: blue;"></i>
            <a href="https://twitter.com/SANDIP_K_A" target="_blank" class="com_div">Sandip Kanzariya</a>
        </div>
    </fieldset>
</div>

{% endblock body %}