{% extends 'basic.html' %}
{% block title %}contact
{% endblock title %}
{% block body %}
<h1 class="text-center text-success">Create New Password</h1>

<div class="container">

    <div class="row">
        <div class="col-md-6 col-lg-6 col-xlg-6 col-sm-12 mx-auto my-4 bg-light">

            <form action="" method="POST">
                {%csrf_token%}

                {% if msz %}
                    <div class="alter {{col}}">{{msz}}</div>
                {% endif %}
                
                <div class="form-group">
                    <label >Current Password : </label>
                    <input type="password" class="form-control " name="cpwd" required>
                </div>

                
                <div class="form-group">
                    <label >New Password : </label>
                    <input type="password" class="form-control " name="npwd" id = "pass" onkeyup="check_pass()" required>
                </div>

                
                <div class="form-group">
                    <label >Confirm Password : </label>
                    <input type="password" class="form-control " name="cmpwd" id = "cpass" onkeyup="check_pass()" required>
                </div>

                <button type="submit" class="btn btn-primary" id="sbbtn">Submit</button>

            </form>
        </div>
    </div>
</div>

<script>

    function check_pass(){
        let p = $("#pass").val();
        let cp = $("#cpass").val();

        if(p == cp){
            $("#pass").css("border", "3px solid green");
            $("#cpass").css("border", "3px solid green");

            $("#sbbtn").removeAttr("disabled");
        }
        else{
            $("#pass").css("border", "3px solid red");
            $("#cpass").css("border", "3px solid red");
            $("#sbbtn").attr("disabled", "disabled");
        }
    }

</script>

{% endblock body %}