{% extends 'basic.html' %}
{% block title %}Done
{% endblock title %}
{% block body %}

<h1 class="text-center text-success">Password Reset Complete</h1>

<div class="container">

    <div class="row">
        <div class="col-md-6 col-lg-6 col-xlg-6 col-sm-12 mx-auto my-4 bg-light">
            <p>Your password has been set. You may go ahead and log in now.</p>

            <b>
                <a href="{% url 'login' %}" class="nav-link"  >
                    <button class="btn btn-primary">Login</button>
                </a>
            </b>

        </div>
    </div>
</div>

{% endblock body %}